/* General theme independed control css. */

.TcHmi_Controls_Framework_LightControlUnit_controlLightGrid {
    overflow: hidden;
}

.TcHmi_Controls_Framework_LightControlUnit_controlLightGrid-Template {
    width: 100%;
    height: 100%;
    display: flex;
}

    .TcHmi_Controls_Framework_LightControlUnit_controlLightGrid-Template > .grid-container {
        border: 3px solid black;
        border-radius: 5px;
        background-color: rgb(0,0,0,0.25);
        flex: auto;
        display: flex;

        column-gap: 5px;
        row-gap: 5px;
    }

        .TcHmi_Controls_Framework_LightControlUnit_controlLightGrid-Template > .grid-container > .grid-item {
            width: 100%;
            height: 100%;
            float: left;
        }

/* If the main use for this control is interaction
    uncomment the following lines to give user feedback:
    This overlays the whole control with a white color
    and changes the mouse cursor */

/*
.TcHmi_Controls_Framework_LightControlUnit_controlLightGrid.TcHmi_Controls_System_TcHmiControl-operate-disallowed::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    cursor: not-allowed;
}
*/