/* General theme independed control css. */

.TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails {
    background-color: darkslategrey;
    border: 5px solid #f00404;
    overflow: auto;
}

.TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 16px;
}

    .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container {
        flex: auto;
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        background-color: rgb(190, 190, 190, 0.75);
        padding: 16px;
        min-height: 24px;
        max-height: 96px;
        height: inherit;
    }

        .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container > .tchmi-textblock,
        .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container > .tchmi-textbox,
        .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container > .tchmi-checkbox,
        .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container > .unique {
            position: relative;
        }

        .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container > .tchmi-textblock {
            flex:1;
            max-width: 100px;
        }

        .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container > .tchmi-textbox,
        .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container > .tchmi-checkbox,
        .TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails-Template > .value-container > .unique {
            flex: 2;
            max-width: none;

        }



/* If the main use for this control is interaction
    uncomment the following lines to give user feedback:
    This overlays the whole control with a white color
    and changes the mouse cursor */

/*
.TcHmi_Controls_Framework_LightControlUnit_controlPopUpLightDetails.TcHmi_Controls_System_TcHmiControl-operate-disallowed::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    cursor: not-allowed;
}
*/